@import "tailwindcss";

@theme {
  --color-background: #0b0f14;
  --color-surface: #141a21;
  --color-primary: #11378e;
  --color-accent: #ebba36;
  --color-brand-green: #0c511a;
  --color-text-primary: #f5f7fa;
  --color-text-muted: #8b98a5;
  --color-danger: #b3261e;
  --color-success: #0c511a;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}
